client-covid-timeline/xml-resources/web-service-references/ConvidService/wsdl/localhost_8080/case-covid-api/ConvidService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ConvidService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/case-covid-api/ConvidService?xsd=1"/>
</xsd:schema>
</types>
<message name="getData">
<part name="parameters" element="tns:getData"/>
</message>
<message name="getDataResponse">
<part name="parameters" element="tns:getDataResponse"/>
</message>
<message name="dataAPI">
<part name="parameters" element="tns:dataAPI"/>
</message>
<message name="dataAPIResponse">
<part name="parameters" element="tns:dataAPIResponse"/>
</message>
<message name="timeline">
<part name="parameters" element="tns:timeline"/>
</message>
<message name="timelineResponse">
<part name="parameters" element="tns:timelineResponse"/>
</message>
<portType name="ConvidService">
<operation name="getData">
<input wsam:Action="http://services/ConvidService/getDataRequest" message="tns:getData"/>
<output wsam:Action="http://services/ConvidService/getDataResponse" message="tns:getDataResponse"/>
</operation>
<operation name="dataAPI">
<input wsam:Action="http://services/ConvidService/dataAPIRequest" message="tns:dataAPI"/>
<output wsam:Action="http://services/ConvidService/dataAPIResponse" message="tns:dataAPIResponse"/>
</operation>
<operation name="timeline">
<input wsam:Action="http://services/ConvidService/timelineRequest" message="tns:timeline"/>
<output wsam:Action="http://services/ConvidService/timelineResponse" message="tns:timelineResponse"/>
</operation>
</portType>
<binding name="ConvidServicePortBinding" type="tns:ConvidService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dataAPI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="timeline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConvidService">
<port name="ConvidServicePort" binding="tns:ConvidServicePortBinding">
<soap:address location="http://localhost:8080/case-covid-api/ConvidService"/>
</port>
</service>
</definitions>